.section-two {
    text-align: center;
    padding: 80px;
    color: #11113d;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  .section-two h2{
    font-size: 50px;
  }
  .section-two p{
    font-size: 20px;
  }
  .features {
    position: relative;
    width: 100%; 
    padding: 0 50px; 
}
.feature {
    width: 30%;
    padding: 20px;
    border-left: 2px solid #ddd; 
    background-color: transparent; 
    position: absolute; 
    text-align: left;
}
.feature:nth-child(1) {
    left: 0; 
}
.feature:nth-child(2) {
    left: 35%;
}
.feature:nth-child(3) {
    right: 0;
}
.feature h3 {
    font-size: 20px;
    color: #11113d;
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.feature h3 .icon {
    color: rgb(211, 20, 211); 
}
.feature p {
    font-size: 16px;
    color: #4f4f4f;
}
