.section-three-wrapper {
    background-color: #cbd7fa;
    padding: 40px;
    border-radius: 8px;
    height: 620px; 
    margin-top: 80px;
}
.section-three-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.section-three {
    width: 50%;
    text-align: left;
    padding-right: 20px;
}
.section-three h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.section-three p {
    font-size: 18px;
    margin-bottom: 20px;
}
.section-three-image {
    width: 50%;
    margin-top: 50px;
}
.features {
    display: flex; 
    justify-content: space-between;
    margin-top: 20px; 
    padding: 0 50px; 
    gap: 20px; 
}
.feature {
    width: 30%; 
    padding: 20px;
    background-color: white; 
    border-radius: 8px; 
    text-align: left;
    box-shadow: none; 
}
.feature h3 {
    font-size: 20px;
    color: #11113d;
    display: flex; 
    align-items: center;
    gap: 10px;
}
.feature h3 .icon {
    color: rgb(211, 20, 211); 
}
.feature p {
    font-size: 16px;
    color: #4f4f4f;
}